<div class="form__field">
  <label for='{{name}}' class="form__label">{{label}}</label>
  <input type='{{type}}' name='{{name}}' class='form__input' />
  {{#if help }}
    <p class="form_help">{{help}}</p>
  {{/if}}
</div>