<div class="form__field">
  {{#if value}}
  <label for='{{name}}' class="form__label">{{label}}</label>
  {{/if}}
  <input type='{{type}}' name='{{name}}' class='form__input' placeholder="{{label}}" value="{{value}}" />
  {{#if help }}
    <p class="form_help">{{help}}</p>
  {{/if}}
</div>